* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color:rgba(150, 46, 248, 0.856)
}

.lado {
    width: 50px;
    float: right;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.43);
}